UVICORN_WORKERS=2
EXECUTOR_WORKERS=6
DB_INIT_RETRIES=60
DB_INIT_DELAY=2.0
DB_HOST=mysql
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
API_KEYS=
RUN_LOCAL=0
COMPARTMENT_ID=ocid1.compartment.oc1..your-compartment-ocid
SUBNET_ID=ocid1.subnet.oc1.ap-singapore-1.your-subnet-ocid
BASTION_IP=
BASTION_USER=ubuntu
BASTION_SSH_KEY=/root/.oci/bastion_private_key
DEFAULT_SHAPE=VM.Standard.E5.Flex
DEFAULT_OCPU=1
DEFAULT_MEMORY_IN_GB=8
DEFAULT_BOOTDISK_IN_GB=1024
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
